.block {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px; */
  border: 2px solid red;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cat {
  /* display: flex;
  flex-direction: row; */
  /* width: 200px; */
  border: 2px solid blue;
}

.page {
  padding: 10px;
}

.question {
  /* border: 2px solid pink; */
  margin-top: 10%;
}

.chunk {
  /* border: 2px solid orange; */
  margin-right: 8%;
  margin-left: 8%;
  /* margin-top: 15%; */
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

/* .grid-box {
  border: 2px solid green;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
} */

.flex-box {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid yellow; */
}